/* Mobile formatting */

.App {
  text-align: center;
  border: 4px pink solid;
  height: 100vh;
  display: grid;
  grid-template: 1fr 50px 8fr / 1fr;
  grid-template-areas:
    "title"
    "nav"
    "content";
}

.Title {
  border: 4px purple solid;
  grid-area: title;
}

.NavBar {
  border: 4px green solid;
  grid-area: nav;
}

.Content {
  border: 4px orange solid;
  grid-area: content;
}

.ArticleCard {
  border: 4px blueviolet;
}

/* media query formatting */

@media only screen and (min-width: 768px) {
  .App {
    grid-template: 2fr 8fr/ 1fr 2fr;
    grid-template-areas:
      "title title"
      "nav content";
  }
  .NavBar {
    display: flex;
    flex-direction: column;
  }
}
